 <%= form_for([@address, @address.comments.build]) do |f| %>


  <p>
    <%= f.label :dateofbirth, 'Events(ex: Date of Birth):' %><br>
    <%= f.text_field :dateofbirth %>
  </p>
  
  <p>
    <%= f.label :body, 'Hobbies:' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>