<%= form_for @address do |f| %>

  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: white">
        <%= pluralize(@address.errors.count, "Error") %> prohibited
        this contact from being saved:
      </h2>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="image">
    <%= f.file_field :image %>
  </div>

<div>
  <div class = "left"><%= f.label :FirstName , 'First Name' %></div>
  <div class = "right"> <%= f.text_field :FirstName %> </div>
  
</div>
  
  <div>
  <div class = "left"><%= f.label :LastName , 'Last Name' %></div>
  <div class = "right"><%= f.text_area :LastName %></div>
  </div>

  <div>
    <div class = "left"><%= f.label :PhoneNumber , 'Phone Number'%></div>
    <div class = "right"><%= f.text_area :PhoneNumber %></div>
  </div>

  <div>
    <div class = "left"><%= f.label :EmailAddress ,'Email Address'%></div>
    <div class = "right"><%= f.text_area :EmailAddress %></div>
  </div>

  <div>
    <div class = "left"><%= f.label :HomeAddress , 'Home Address' %></div>
    <div class = "right"><%= f.text_area :HomeAddress %></div>
  </div>

  <div>
    <div class = "left"><%= f.label :Company %></div>
    <div class = "right"><%= f.text_area :Company %></div>
  </div>
  
  <p id = "CreateContact">
    <%= f.submit "Create Contact"%>
  </p>

<% end %>
