
  <p>
    <strong>FirstName:</strong>
    <%= @address.FirstName%><br>
  </p>
  
   <p>
    <strong>LastName:</strong>
    <%= @address.LastName%><br>
  </p>
  
   <p>
    <strong>PhoneNumber:</strong>
    <%= @address.PhoneNumber%><br>
  </p>
  
   <p>
    <strong>EmailAddress:</strong>
    <%= @address.EmailAddress%><br>
  </p>
  
   <p>
    <strong>Company:</strong>
    <%= @address.Company%><br>
  </p>
  
 <h2>Comments</h2>
  <% @address.comments.each do |comment| %>
  <p>
    <strong>Events(ex: Date of Birth):</strong>
    <%= comment.dateofbirth %>
  </p>
 
  <p>
    <strong>Hobbies:</strong>
    <%= comment.body %>
  </p>
 <% end %>

 <h2>Add a comment:</h2>
  <%= form_for([@address, @address.comments.build]) do |f| %>
  <p>
    <%= f.label :dateofbirth, 'Events(ex: Date of Birth):' %><br>
    <%= f.text_field :dateofbirth %>
  </p>
  <p>
    <%= f.label :body, 'Hobbies:' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

  <%= link_to 'Contact Listing', addresses_path %>