
   <a class = "link"><%= link_to 'Update Contact', edit_address_path %></a>
   
   <a class = "link"><%= link_to 'Delete Contact',
                              address_path,
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></a>


   <ul id = "attributes">
    
    <li class = "listitem"><strong class = "attribute">First Name: <%= @address.FirstName%></strong></li>
   
   
    <li class = "listitem"><strong>Last Name: <%= @address.LastName%></strong></li>
  
  
   
    <li class = "listitem"><strong>Phone Number: <%= @address.PhoneNumber%></strong></li>
   
  
   
    <li class = "listitem"><strong>Email Address: <%= @address.EmailAddress%></strong></li>
   
  
    <li class = "listitem"><strong>Home Address: <%= @address.HomeAddress%></strong></li>
  
    <li class = "listitem"><strong>Company: <%= @address.Company%></strong></li>
 
  
</ul>
                             

    <div class = "listform"><%= render @address.comments %></div>
    <div class = "listform"><%= render 'comments/form' %></div>

   