<div style = "text-align: center">
    
    
  <p>
    <strong>First Name</strong>
    <%= @address.FirstName%><br>
  </p>
  
   <p>
    <strong>Last Name</strong>
    <%= @address.LastName%><br>
  </p>
  
   <p>
    <strong>Phone Number</strong>
    <%= @address.PhoneNumber%><br>
  </p>
  
 
  
   <p>
    <strong>Email Address</strong>
    <%= @address.EmailAddress%><br>
  </p>
  
   <p>
    <strong>Home Address</strong>
    <%= @address.HomeAddress%><br>
  </p>
  
   <p>
    <strong>Company</strong>
    <%= @address.Company%><br>
  </p>
  
  <h2>Add a Comment:</h2>
    <%= render 'comments/form' %>
  
  </div>
 
