
  <p>
    <strong>FirstName:</strong>
    <%= @address.FirstName%><br>
  </p>
  
   <p>
    <strong>LastName:</strong>
    <%= @address.LastName%><br>
  </p>
  
   <p>
    <strong>PhoneNumber:</strong>
    <%= @address.PhoneNumber%><br>
  </p>
  
   <p>
    <strong>EmailAddress:</strong>
    <%= @address.EmailAddress%><br>
  </p>
  
   <p>
    <strong>Company:</strong>
    <%= @address.Company%><br>
  </p>