
 <br><%= image_tag(@address.image_url.to_s) %>

   <a class = "Updatelink"><%= link_to 'Update Contact', edit_address_path %></a><br>
   
    <br> <a class = "Deletelink"><%= link_to 'Delete Contact',
                              address_path,
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></a>

    

   <ul id = "attributes">
    
    <li class = "listitem"><strong class = "attribute">First Name: <%= @address.FirstName%></strong></li>
   
   
    <li class = "listitem"><strong>Last Name: <%= @address.LastName%></strong></li>
  
  
   
    <li class = "listitem"><strong>Phone Number: <%= @address.PhoneNumber%></strong></li>
   
  
   
    <li class = "listitem"><a href = "https://www.google.com/gmail/"><strong>Email Address: <%= @address.EmailAddress%></strong></a></li>
   
  
    <li class = "listitem"><a href = "https://www.google.com/maps/place/<%= @address.HomeAddress%>" ><strong>Home Address: <%= @address.HomeAddress%></a></strong></li>
  
    <li class = "listitem"><strong>Company: <%= @address.Company%></strong></li>
 
  
</ul>







   