<!DOCTYPE html>
<html>
  <head>
    <title>AddressApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
     <ul>
       <li><%= link_to 'Login', controller: 'addresses' %></li> 
        <li><%= link_to 'Main Page' , root_path %></li>
        <li><%= link_to 'Contacts' , addresses_path %></li>
        <li><%= link_to 'New Contact' , new_address_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>

 