<!DOCTYPE html>
<html>
  <head>
    <title>AddressApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
     <ul>
        <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li> 
        <li><a class = "navlink"><%= link_to 'Home Page' , root_path %></a></li>
        <li><a class = "navlink"><%= link_to 'Contacts' , addresses_path %></a></li>
        <li><a class = "navlink"><%= link_to 'New Contact' , new_address_path %></a></li>
        <li><a class = "navlink"><%= link_to 'New Meeting' , new_meeting_path %></a></li>
        <li><a class = "navlink"><%= link_to 'View Meetings' , meetings_path %></a></li>
      
    </ul>
    <div>
      <% if current_user %> 
      <strong style="color: white">
        Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% end %></li>
    </div>
    <%= yield %>
  </body>
</html>

 
